/* src/content.css */
.selectable-table {
    outline: 2px dashed orange !important;
    cursor: pointer !important;
}
.selectable-table:hover {
    outline: 3px solid orange !important;
}

.selectable-hover {
    outline: 3px solid orange !important;
    transition: outline-color 0.1s ease;
}